**/.ipynb_checkpoints/
#Copied
*/Debug/*
/Release/*
*/bin
*/bin/*
*/src/*.*swp
*/include/*.*swp
*/data
*/data/*
*/python/__pycache__
*/python/__pycache__/*
*/python/
*/src/gulliver/logs/*
*.vscode/
*build/
.DS_Store
*/.vscode/*
**/.vscode/c_cpp_properties.json
